.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 20px;
    margin: 20px;
}

.container__item {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    color: white;
}

.container__item--last {
    grid-area: 2 /  2 / span 2 / span 2; 
}